@keyframes bounce-custom {
    0%, 100% {
      transform: translateY(0) scale(1);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-20px) scale(1.2);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-custom {
    animation: bounce-custom 0.8s infinite;
  }

  .no-scroll {
    overflow: hidden;
  }