<div class="flex flex-col">
    <div>
        <img [src]="product.image" alt="product image">
    </div>
    <span class="tracking-tight font-medium text-base py-2">{{ product.title | uppercase }}</span>
    <div class="flex justify-between text-[#BD8038] tracking-tight font-medium text-sm">
        <span>{{ product.price | currency: 'INR':'symbol':'1.0-2' }}</span>
        <div class="pr-1">
            <span *ngFor="let star of stars">
                {{ star <= product.rating ? '★' : '☆' }} </span>
        </div>
    </div>
</div>