/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ff5c5c;
}

.modal-field {
    margin-bottom: 20px;
    /* Space between fields */
}

.modal-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.modal-text {
    font-size: 1rem;
    color: #666;
}

.modal-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .modal-title {
        font-size: 1rem;
        /* Adjust title size for small screens */
    }

    .close {
        font-size: 1.3rem;
        /* Reduce close button size */
    }
}