<div class="p-5  bg-white rounded-md  shadow-2xl">
  <div class="grid grid-cols-2 gap-1 ">
    <div class="flex items-center justify-center w-auto">
      <img src="images/product-details-1.png" class="object-cover  rounded-md " alt="Product Image">
    </div>
    <div class="col-span-1 mr-3">
      <div class="flex flex-col pt-10 mx-2 justify-center ">
        <div class="flex justify-between   ">
          <Label class="font-bold">Product Name</Label>
          <label class=" text-[13px]"> 27 rating</label>
        </div>
        <div class="pt-3 text-[20px] font-bold text-[#c87065]">
          $ 53.20
        </div>
        <div class="pt-3 text-[14px]">
          Available : <span class="text-[rgb(99,234,99)]">In Stock</span>
        </div>
        <div class="pt-3 pb-4 text-[14px]">
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have be suffered
            alteration in some form, by injected humou or randomised words which donot look even slightly believable. If
            you are going to use a passage of Lorem Ipsum. </p>
        </div>
        <div class="flex justify-between   ">
          <div class="flex items-center justify-center space-x-4 ">
            <button class="px-4 py-2 bg-gray-300 rounded-md text-lg hover:bg-gray-400 " (click)="decrement()">
              -
            </button>
            <span class="text-sm font-bold">
              {{ number }}
            </span>
            <button class="px-4 py-2 bg-gray-300 rounded-md text-lg hover:bg-gray-400 " (click)="increment()">
              +
            </button>
          </div>
          <div class="flex items-center justify-center space-x-2">
            <button class="px-4 py-2 bg-gray-300 rounded-md text-sm hover:bg-gray-400 ">
              <i class="fas fa-cart-plus"></i>
            </button>
            <button class="px-4 py-2 bg-gray-300 rounded-md text-sm hover:bg-gray-400 ">
              <i class="fas fa-light fa-arrow-up-from-bracket"></i>
            </button>
            <button class="px-4 py-2 bg-gray-300 rounded-md text-sm hover:bg-gray-400 ">
              <i class="fas fa-sharp fa-thin fa-heart"></i>
            </button>
          </div>
        </div>
        <div class="grid grid-row pb-2">
          <label class=" text-[16px] font-[400] pt-3  pb-3">ENTER YOUR TEXT HERE</label>
          <input type="text" class="rounded-lg w-full border-gray-400 focus:border-black ">
        </div>
        <div class="grid grid-row pb-2">
          <label class=" text-[16px] font-[400] pt-3  pb-3">UPLOAD YOUR PHOTO</label>
          <input type="file" class="rounded-lg w-full border-gray-400  border-[1px] justify-between">
        </div>
        <div>
          <div class="carousel-container relative overflow-hidden">
            <div class="carousel flex transition-transform duration-300 px-3"
              [ngStyle]="{'transform': 'translateX(' + translateX + '%)'}">
              <div class="slide flex-none w-1/3 " *ngFor="let image of images">
                <img [src]="image" alt="Image" class="w-[85%] h-auto object-cover  rounded-lg">
              </div>
            </div>
            <!-- Controls -->
            <button
              class="prev absolute top-1/2 mx-0 transform -translate-y-1/2 left-0 bg-white text-black font-bold backdrop-blur-sm bg-opacity-50 h-[50%] px-4 py-2 rounded-lg"
              (click)="prevSlide()">
              < </button>
                <button
                  class="next absolute top-1/2 transform -translate-y-1/2 right-0 bg-white text-black font-bold backdrop-blur-sm bg-opacity-50 h-[50%] px-4 py-2 rounded-lg"
                  (click)="nextSlide()">></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>