.left-component {
  width: 15%;
  height: 98%;
  padding-bottom: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.left-component-content {
  margin: 10px;
  height: 50px;
  width: 20%;
  overflow: hidden;
  display: flex;
  color: #292f46;
  font-family: Andale Mono, monospace;
  font-weight: bold;
  text-decoration: none;
  transition: width 0.3s ease-in-out; /* Smooth transition for width */
}

.left-component-content p {
  margin-left: 17px;
}

.left-component-content:hover {
  width: 100%; /* Expand to 100% on hover */
}

.left-component-content.active {
  width: 100%; /* Keep width 100% if active */
}

.l-c-icon{
    height: 30px;
    width: 30px;


}
.left-component a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Maintain the original text color */
  }
  
  .left-component a:hover {
    color: #000; /* Optionally change color on hover */
  }
  .list-1{
    margin-left: 20px;
    border-radius: 10px;
  }