.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #edf2f7; /* Color of the scrollbar track */
  }